public_html/ave
public_html/ave/*
public_html/usergames/*
public_html/gamelist.json
public_html/backend/vtoday
public_html/backend/referers
public_html/docs_files
public_html/docs_files/*
public_html/backend/pagv
public_html/backend/referers-summary
public_html/scores.json
public_html/dates
public_html/dates/*

AVE-docs
AVE
AVE.js
AVE-docs/*
AVE/*
AVE.js/*

.*.swp
