.top {background-color:#2f0923;position:absolute;top:0;left:0;right:0;height:100px;text-align:center}
body {margin-top:105px;font-family:monospace;margin-bottom:20px}

.foot {position:fixed;text-align:center;right:0px;left:0px;bottom:0;font-size:10px;color:white;background-color:#2f0923;height:14px;padding-top:2px}

.foot a, .foot a:active, .foot a:link, .foot a:visited, .foot a:hover
    {text-decoration:none}
.foot a, .foot a:active, .foot a:link, .foot a:visited
    {color:#8888FF}
.foot a:hover {color:88FF88}

.maintext {margin:auto;width:640px}

a, a:active, a:link, a:visited, a:hover
    {text-decoration:none}
a, a:active, a:link, a:visited
    {color:blue}
a:hover {color:green}

@media (min-width:890px){
.sidebar {position:absolute;left:5px;top:105px;width:113px;text-align:right;font-size:22px}
.sidebar a {display:block}
}
@media (max-width:890px){
.sidebar {position:static;margin:auto;text-align:center;width:640px;margin-top:-3px;margin-bottom:5px;font-size:16px}
.sidebar a {display:inline;margin-left:5px;margin-right:5px}
}

.sidebar a, .sidebar a:active, .sidebar a:link, .sidebar a:visited, .sidebar a:hover
    {text-decoration:none;font-weight:bold}
.sidebar a, .sidebar a:active, .sidebar a:link, .sidebar a:visited
    {color:#2f0923}
.sidebar a.red:hover {color:red}
.sidebar a.blue:hover {color:blue}
.sidebar a.green:hover {color:green}
