.top {background-color:#2f0923;position:absolute;top:0;left:0;right:0;height:100px;text-align:center}
body {margin-top:105px;font-family:monospace;margin-bottom:20px}

.foot {position:fixed;text-align:center;right:0px;left:0px;bottom:0;font-size:10px;color:white;background-color:#2f0923;height:14px;padding-top:2px}

.foot a, .foot a:active, .foot a:link, .foot a:visited, .foot a:hover
    {text-decoration:none}
.foot a, .foot a:active, .foot a:link, .foot a:visited
    {color:#8888FF}
.foot a:hover {color:88FF88}

.maintext {margin:auto;width:640px;line-height:1.4em}
iframe#git {width:640px;height:400px}

a, a:active, a:link, a:visited, a:hover
    {text-decoration:none}
.maintext a, .maintext a:active, .maintext a:link, .maintext a:visited
    {color:#2f0923;border-bottom: 1px dotted #2f0923;}
a.invisible, .maintext a.invisible {border:0px}

@media (min-width:990px){
.sidebar {position:absolute;left:5px;top:105px;width:113px;text-align:right;font-size:22px}
span.optional {display:inline}
.sidebar a {display:block}
}
@media (max-width:990px){
.sidebar {position:static;margin:auto;text-align:center;width:640px;margin-top:-3px;margin-bottom:5px;font-size:15px}
span.optional {display:none}
.sidebar a {display:inline;margin-left:5px;margin-right:5px}
}

.sidebar a, .sidebar a:active, .sidebar a:link, .sidebar a:visited, .sidebar a:hover
    {text-decoration:none;font-weight:bold}
.sidebar a, .sidebar a:active, .sidebar a:link, .sidebar a:visited
    {color:#2f0923}
a.red:hover {color:#cc0000}
a.blue:hover {color:#32619e}
a.green:hover {color:#4d9906}

.version {position:absolute;bottom:2px;right:5px;z-index:3;background-color:#2f0923;color:#FFFFFF}

table.invisible {border:0;margin:0;padding:0}
img.team {background-color:#2f0923;width:100px;height:100px}

img.icon {vertical-align:middle;height:15px}
img.icon.big {height:30px}
.maintext img {padding:2px}
.source {color:#2f0923;background-color:#DDEECC}
div.source {margin-left:20px;margin-right:20px;margin-top:5px;margin-bottom:5px}

